# GeoSpartial Data Project

## Importamos los módulos necesarios

In [1]:
import pandas as pd
from pymongo import MongoClient
import json
import numpy as np
import geopandas
import sys
import matplotlib.pyplot as plt
import os
import requests
from folium import Map, Marker, Icon, FeatureGroup, LayerControl, Choropleth
from folium.plugins import HeatMap
from dotenv import load_dotenv
load_dotenv()

True

## Query a MongoDb - Crunchbase Dataset

In [2]:
#conecto con MongoDb y hago un query para sacar empresas en el país que nos interesa
def connectMongoDb(dbName): 
    mongodbURL = f"mongodb://localhost/{dbName}"
    client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
    db = client.get_database()
    
database= connectMongoDb("datamad0620")

In [3]:
mongodbURL = f"mongodb://localhost/datamad0620"
client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database("datamad0620")

def companiesMongo_count(country_code):
    
    mongodbURL = f"mongodb://localhost/datamad0620"
    client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
    db = client.get_database("datamad0620")
    
    query = {"offices.country_code":f"{country_code}",
        
        "total_money_raised":{"$gte": "$1M"}}
    
    res = list(db.companies.find(query))
    return len(res) 

companiesMongo_count("SGP")

34

In [4]:
def companiesMongo(country_code):
    query = {"offices.country_code":f"{country_code}",
        "category_code":{"$in": ["web", "games_video","ecommerce","mobile","social","software"]},
        }
   #"total_money_raised":{"$gte": "$1M"} 
    projection ={"offices":1, "name":1, "founded_year":1,"total_money_raised":1,"category_code":1}
    res = list(db.companies.find(query,projection))
    return res

result= companiesMongo("SGP")

pd.DataFrame(result).sort_values(by="total_money_raised", ascending=False).head(5)

,_id,name,category_code,founded_year,total_money_raised,offices
40,52cdef7f4bab8bd67529bd7e,YOOSE,mobile,2008.0,€25k,"[{'description': 'Germany', 'address1': 'Fried..."
31,52cdef7e4bab8bd67529adab,Nexway,ecommerce,2002.0,€14M,"[{'description': 'Nexway HQ', 'address1': '1 b..."
4,52cdef7c4bab8bd67529815a,Skyscanner,web,2001.0,£2.5M,"[{'description': 'Skyscanner Ltd', 'address1':..."
5,52cdef7c4bab8bd67529869f,eYeka,software,2006.0,$9.34M,"[{'description': 'HQ', 'address1': '79 rue la ..."
32,52cdef7e4bab8bd67529b07c,Majitek,software,NaN,$7.5M,"[{'description': '', 'address1': 'SGX Centre 2..."

In [5]:
def companiesMongo(country_code):
    query = {"offices.country_code":f"{country_code}",
        "total_money_raised":{"$gte": "$1M"},
        }
   
    projection ={"offices":1, "name":1, "founded_year":1,"total_money_raised":1,"category_code":1}
    res = list(db.companies.find(query,projection))
    return res

result= companiesMongo("SGP")

pd.DataFrame(result).sort_values(by="total_money_raised", ascending=False).head(7)

,_id,name,category_code,founded_year,total_money_raised,offices
32,52cdef7f4bab8bd67529bd7e,YOOSE,mobile,2008.0,€25k,"[{'description': 'Germany', 'address1': 'Fried..."
13,52cdef7d4bab8bd67529919a,Videoplaza,advertising,2007.0,€15.9M,"[{'description': 'London HQ', 'address1': 'Wat..."
25,52cdef7e4bab8bd67529adab,Nexway,ecommerce,2002.0,€14M,"[{'description': 'Nexway HQ', 'address1': '1 b..."
22,52cdef7e4bab8bd67529a81f,Clear2Pay,finance,2001.0,€121M,"[{'description': 'Headquarters', 'address1': '..."
1,52cdef7c4bab8bd675297e58,eBuddy,messaging,2003.0,€11.5M,"[{'description': 'Global Headquarters', 'addre..."
4,52cdef7c4bab8bd67529815a,Skyscanner,web,2001.0,£2.5M,"[{'description': 'Skyscanner Ltd', 'address1':..."
5,52cdef7c4bab8bd67529869f,eYeka,software,2006.0,$9.34M,"[{'description': 'HQ', 'address1': '79 rue la ..."

## Limpieza de datos

In [6]:
def limipiezaData(companies,code):
    df = pd.DataFrame(list(companies))
    offices = df.explode("offices").apply(lambda e: e.offices,axis=1,result_type="expand")
    clean_offices = pd.concat([df[["name","_id"]], offices], axis=1)
    clean_offices = clean_offices.rename(columns={"_id":"company_id"})
    filtered = clean_offices[(clean_offices['country_code']== f"{code}")]
    return filtered   

data = limipiezaData(result, "SGP")
## falta meter variables de DATA, result y country code

In [7]:
# Convert objectIds to string to be able to export as JSON 

def toJson (dataset):  
    filtered= dataset["company_id"] = dataset["company_id"].apply(lambda e: str(e))
    return filtered
toJson(data)

0     52cdef7c4bab8bd675297dba
1     52cdef7c4bab8bd675297e58
2     52cdef7c4bab8bd675297ee5
3     52cdef7c4bab8bd675297fda
4     52cdef7c4bab8bd67529815a
5     52cdef7c4bab8bd67529869f
6     52cdef7c4bab8bd67529884f
7     52cdef7c4bab8bd675298857
8     52cdef7d4bab8bd675298a8a
9     52cdef7d4bab8bd675298c8c
10    52cdef7d4bab8bd675298d0e
11    52cdef7d4bab8bd675298f85
12    52cdef7d4bab8bd6752990c2
13    52cdef7d4bab8bd67529919a
14    52cdef7d4bab8bd675299413
15    52cdef7d4bab8bd6752995ff
16    52cdef7d4bab8bd67529962f
17    52cdef7d4bab8bd675299989
18    52cdef7d4bab8bd6752999b9
19    52cdef7d4bab8bd675299e9e
20    52cdef7d4bab8bd675299fb1
21    52cdef7e4bab8bd67529a4b6
22    52cdef7e4bab8bd67529a81f
23    52cdef7e4bab8bd67529ac6e
24    52cdef7e4bab8bd67529ad65
25    52cdef7e4bab8bd67529adab
26    52cdef7e4bab8bd67529b07c
27    52cdef7e4bab8bd67529b417
28    52cdef7e4bab8bd67529b4b8
29    52cdef7e4bab8bd67529b833
30    52cdef7e4bab8bd67529b8c6
31    52cdef7e4bab8bd67529babb
32    52cdef7f4bab8bd67529bd7e
33    52cdef7f4bab8bd67529c338
Name: company_id, dtype: object

In [8]:
def transformToGeoPoint(s):
    if np.isnan(s.latitude) or np.isnan(s.longitude):
        return None
    return {
        "type":"Point",
        "coordinates":[s.longitude, s.latitude]
    }
    

data["geopoint"] = data.apply(transformToGeoPoint, axis=1)

In [17]:
gdf = geopandas.GeoDataFrame(data, geometry=geopandas.points_from_xy(data.longitude, data.latitude))

In [10]:
drop_cols = ['company_id','state_code', 'country_code','description','address1','address2']
data = gdf.drop(drop_cols, axis =1)
data=data.dropna(subset=['longitude'])
data=data.dropna(subset=['latitude'])
data

,name,zip_code,city,latitude,longitude,geopoint,geometry
1,eBuddy,,Singapore,51.500152,-0.126236,"{'type': 'Point', 'coordinates': [-0.126236, 5...",POINT (-0.12624 51.50015)
3,mig33,179098,Singapore,37.580304,-122.343679,"{'type': 'Point', 'coordinates': [-122.343679,...",POINT (-122.34368 37.58030)
6,Whois,,Singapore,1.327062,103.875336,"{'type': 'Point', 'coordinates': [103.875336, ...",POINT (103.87534 1.32706)
7,InMobi,048624,Singapore,1.284082,103.851942,"{'type': 'Point', 'coordinates': [103.851942, ...",POINT (103.85194 1.28408)
8,Fonemesh,,Singapore,1.289407,103.849962,"{'type': 'Point', 'coordinates': [103.849962, ...",POINT (103.84996 1.28941)
12,HomeSpace,588376,Singapore,1.292513,103.779503,"{'type': 'Point', 'coordinates': [103.779503, ...",POINT (103.77950 1.29251)
13,Videoplaza,048545,Singapore,1.282101,103.850833,"{'type': 'Point', 'coordinates': [103.8508327,...",POINT (103.85083 1.28210)
15,travelmob,139951,Singapore,21.303049,-157.789070,"{'type': 'Point', 'coordinates': [-157.78907, ...",POINT (-157.78907 21.30305)
16,Prosperity Financial Services Pte Ltd,068601,Singapore,1.281506,103.848023,"{'type': 'Point', 'coordinates': [103.848023, ...",POINT (103.84802 1.28151)
17,travelmob,139951,Singapore,21.303049,-157.789070,"{'type': 'Point', 'coordinates': [-157.78907, ...",POINT (-157.78907 21.30305)
18,Prosperity Financial Services Pte Ltd,068601,Singapore,1.281506,103.848023,"{'type': 'Point', 'coordinates': [103.848023, ...",POINT (103.84802 1.28151)
24,Zopim,118407,Singapore,1.290801,103.780740,"{'type': 'Point', 'coordinates': [103.7807403,...",POINT (103.78074 1.29080)
25,Nexway,238875,Singapore,1.307505,103.829500,"{'type': 'Point', 'coordinates': [103.8295, 1....",POINT (103.82950 1.30750)
28,Transfer To,188778,Singapore,1.300693,103.857536,"{'type': 'Point', 'coordinates': [103.8575356,...",POINT (103.85754 1.30069)
29,iSyndica,088636,Singapore,1.277158,103.836791,"{'type': 'Point', 'coordinates': [103.8367911,...",POINT (103.83679 1.27716)

## visualizacion mapas

In [11]:
data=data.dropna(subset=['longitude'])
data=data.dropna(subset=['latitude'])

In [12]:
m_heat = Map(location=[1.290270,103.851959],zoom_start=10)
HeatMap(
    data=data[["latitude", "longitude"]],
    radius=13
).add_to(m_heat)

In [13]:
m = Map(location=[1.290270,103.851959],zoom_start=14)
for i, row in data.iterrows():
    Marker(
        location=row[["latitude","longitude"]],
        tooltip=row["name"],
    ).add_to(m)
m

Nos quedamos con la ubicación de Inmobi: [1.298370, 1.298370]

## conectamos con las APIs

### FourSquare

    Formato def

In [46]:
def requestFoursquare(query,radio):
    client_idd = os.getenv("4S_CLIENT_ID")
    client_secret=os.getenv("CLIENT_SECRET")
    lat = 1.298370
    long = 103.891290

    params = {"client_id": client_idd,
              "client_secret":client_secret,
              "v": "20180323",
              "ll":f'{lat},{long}',
              "radius":f'{radio}',
              "query":f'{query}', 
              "limit":20 }

    url = f"https://api.foursquare.com/v2/venues/explore"
    
    resp = requests.get(url=url, params=params)
    data = json.loads(resp.text)
    print(url)
    return data
requestFoursquare("coffe",2000)

https://api.foursquare.com/v2/venues/explore

{'meta': {'code': 429,
  'errorType': 'quota_exceeded',
  'errorDetail': 'Quota exceeded',
  'requestId': '5efa69ca28da6479400d4b59'},
 'response': {}}

In [15]:

def requestFoursquare(query,data,radio=1000):
    client_idd = os.getenv("4S_CLIENT_ID")
    client_secret=os.getenv("CLIENT_SECRET")
    
    long = data['longitude']
    lat = data['latitude']

    params = {"client_id": client_idd,
              "client_secret":client_secret,
              "v": "20180323",
              "ll":f'{lat},{long}',
              "radius":f'{radio}',
              "query":f'{query}', 
              "limit":20 }

    url = f"https://api.foursquare.com/v2/venues/explore"
    
    resp = requests.get(url=url, params=params)
    res = json.loads(resp.text)

    return res["response"]["totalResults"]

In [16]:
requestFoursquare("restaurant",data.iloc[0],2000)

KeyError: 'totalResults'

In [ ]:
data["res"] = data.apply(lambda row: (requestFoursquare("restaurant",row,1000)*2), axis=1)
data["school"] = data.apply(lambda row: (requestFoursquare("school",row,1500)*2), axis=1)
data["night club"] = data.apply(lambda row: requestFoursquare("night club",row,2000), axis=1)
data["starbucks"] = data.apply(lambda row: requestFoursquare("starbucks",row,500), axis=1)
data["dog care"] = data.apply(lambda row: (requestFoursquare("dog care",row,2000)*0.5), axis=1)

data["Total Points"] = data[['res','school','night club','starbucks','dog care' ]].sum(axis=1).where(data[['res','school','night club','starbucks','dog care']] > 0, 0)
data.sort_values(by="Total Points", ascending=False)

In [ ]:
#f= r["response"]["groups"][0]["items"][1]["venue"]["name"], r["response"]["groups"][0]["items"][1]["venue"]["location"]["lat"],r["response"]["groups"][0]["items"][1]["venue"]["location"]["lng"]

In [ ]:
data["Total Points"] = data[['res','school','night club','starbucks','dog care' ]].sum(axis=1).where(data[['res','school','night club','starbucks','dog care']] > 0, 0)
data.sort_values(by="Total Points", ascending=False)

In [ ]:
#f= r["response"]["groups"][0]["items"][1]["venue"]["name"], r["response"]["groups"][0]["items"][1]["venue"]["location"]["lat"],r["response"]["groups"][0]["items"][1]["venue"]["location"]["lng"]

### Google Places

In [ ]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&rankby=distance&type=food"
response = requests.get(url)
response

In [ ]:
apiKey = os.getenv("GPLACES_APIKEY")
url = f"https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Museum%20of%20Contemporary%20Art%20Australia&inputtype=textquery&fields=photos,formatted_address,name,rating,opening_hours,geometry&key={apiKey}"
res = requests.get(url)
data = res.json()
data

In [34]:
apiKey = os.getenv("GPLACES_APIKEY")
lat = 1.298370
long = 103.891290
radius = 1000
tipo = "school"
           
url = url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat},{long}&radius={radius}&type={tipo}&key=AIzaSyBr_5sdn9AKCx4Ptlwgbb7dIwojyiEOIdI"
res = requests.get(url)
data = res.json()
#df = pd.DataFrame(data["results"])
d= data["results"]
d
#POINT (103.85194 1.28408)

3.7

In [44]:
o=[(d[i]["name"], d[i]["geometry"]["location"]["lat"], d[i]["geometry"]["location"]["lng"]) for i in range(len(d))]
o=pd.DataFrame(o, columns=['name', 'latitude', 'longitud'])
o

                                                 name  latitude    longitud
0             Canadian International School Singapore  1.303836  103.897347
1                               Konohana Kindergarten  1.298417  103.889876
2                        MFC (Broadrick) Kindergarten  1.299793  103.890708
3                Brighton Montessori Mountbatten Road  1.300076  103.892553
4                 Global Tots Preschool - Mountbatten  1.299678  103.893863
5   EtonHouse International Pre-School Mountbatten...  1.300469  103.886673
6          Kumon Learning Centre - Mountbatten Centre  1.301564  103.895676
7                               Singapore Swim Centre  1.301936  103.886149
8                      Chung Cheng High School (Main)  1.305412  103.891549
9                                               Shaws  1.302985  103.897033
10                      Shaws Preschool @ Katong Post  1.303017  103.897024
11                   Shaws Preschool @ Tanjong Katong  1.305895  103.895211
12                    Chiltern House Enrolment Office  1.296577  103.899561
13                     EtonHouse International School  1.305812  103.889680
14                              Ministry of Education  1.303444  103.898623
15          Montessori for Children, Broadrick Campus  1.299802  103.890689
16               EtonHouse Pre-School Mountbatten 717  1.300978  103.886659
17           Odyssey The Global Preschool – Wilkinson  1.302129  103.887608
18                       Katong Swimsafer Instructors  1.302153  103.886070
19                            School House By The Bay  1.300600  103.884930

In [30]:
from shapely.geometry import Point, Polygon
import geopandas as gpd
import descartes
%matplotlib inline

geometry=[Point(xy) for xy in zip(o["latitude"], o["longitud"])]
geo_df=gpd.GeoDataFrame(o,geometry=geometry)
geo_df

,name,latitude,longitud,geometry
0,Canadian International School Singapore,1.303836,103.897347,POINT (1.304 103.897)
1,Konohana Kindergarten,1.298417,103.889876,POINT (1.298 103.890)
2,MFC (Broadrick) Kindergarten,1.299793,103.890708,POINT (1.300 103.891)
3,Brighton Montessori Mountbatten Road,1.300076,103.892553,POINT (1.300 103.893)
4,Global Tots Preschool - Mountbatten,1.299678,103.893863,POINT (1.300 103.894)
5,EtonHouse International Pre-School Mountbatten...,1.300469,103.886673,POINT (1.300 103.887)
6,Kumon Learning Centre - Mountbatten Centre,1.301564,103.895676,POINT (1.302 103.896)
7,Singapore Swim Centre,1.301936,103.886149,POINT (1.302 103.886)
8,Chung Cheng High School (Main),1.305412,103.891549,POINT (1.305 103.892)
9,Shaws,1.302985,103.897033,POINT (1.303 103.897)
10,Shaws Preschool @ Katong Post,1.303017,103.897024,POINT (1.303 103.897)
11,Shaws Preschool @ Tanjong Katong,1.305895,103.895211,POINT (1.306 103.895)
12,Chiltern House Enrolment Office,1.296577,103.899561,POINT (1.297 103.900)
13,EtonHouse International School,1.305812,103.889680,POINT (1.306 103.890)
14,Ministry of Education,1.303444,103.898623,POINT (1.303 103.899)
15,"Montessori for Children, Broadrick Campus",1.299802,103.890689,POINT (1.300 103.891)
16,EtonHouse Pre-School Mountbatten 717,1.300978,103.886659,POINT (1.301 103.887)
17,Odyssey The Global Preschool – Wilkinson,1.302129,103.887608,POINT (1.302 103.888)
18,Katong Swimsafer Instructors,1.302153,103.886070,POINT (1.302 103.886)
19,School House By The Bay,1.300600,103.884930,POINT (1.301 103.885)

In [31]:
geo_df=geo_df.dropna(subset=['longitud'])
geo_df=geo_df.dropna(subset=['latitude'])

In [43]:
m = Map(location=[1.290270,103.851959],zoom_start=14)
for i, row in geo_df.iterrows():
    icon = Icon(
                color="red",
                prefix="fa",
                icon="trophy"
            )
    Marker(
        location=row[["latitude","longitud"]],
        tooltip=row["name"],
    ).add_to(m)
m

In [ ]:
m = Map(location=[1.290270,103.851959],zoom_start=14)

for i in geo_df:
    group = FeatureGroup(
                name= "Restaurants",
                show=False
            )
    Map(data=geo_df[["latitude","longitud"]], radius=13).add_to(group)
    group.add_to(m)
LayerControl().add_to(m)

In [45]:
import googlemaps
def gplaces(inputtype):
#https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Museum%20of%20Contemporary%20Art%20Australia&inputtype=textquery&fields=photos,formatted_address,name,rating,opening_hours,geometry&key=YOUR_API_KEY

    
    url = 'f"https://maps.googleapis.com/maps/api/place/nearbysearch/'
    inputtype = query
    apiKey = os.getenv('GPLACES_APIKEY')
    
    parameters = dict(
    inputtype = query,
    key=apiKey,
    point=1.298370/103.891290
    )
    resp = requests.get(url=url, params=parameters)
    return json.loads(resp.text)
gplaces("restaurant")

NameError: name 'query' is not defined

In [ ]:
import googlemaps
import pprint
import time
#from GoogleMapsAPIKey import get_my_key

api=os.getenv('GPLACES_APIKEY')

gmaps =googlemaps.Client(key=api)
apiKey = os.getenv('GPLACES_APIKEY')
places = gmaps.places_nearby(location="1.298370,103.891290", radius=4000,open_now=False, type="night_club")

for place in places["results"]:
    my_place_id=place["place_id"]
    my_fields=["name","type"]
    place_details=gmaps.place(place_id=my_place_id, fields=my_fields)
    print(place_details)

In [42]:
api=os.getenv('GPLACES_APIKEY')

gmaps =googlemaps.Client(key=api)
apiKey = os.getenv('GPLACES_APIKEY')
places = gmaps.places_nearby(location="1.298370,103.891290", radius=4000,open_now=False, type="night_club")
places["results"]

[{'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.3037611, 'lng': 103.9008959},
   'viewport': {'northeast': {'lat': 1.305185480291502,
     'lng': 103.9022089302915},
    'southwest': {'lat': 1.302487519708498, 'lng': 103.8995109697085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png',
  'id': 'd1276217d6bbcdff5c2a9f8973e2a1a5584c6602',
  'name': 'Teo Heng KTV Studio',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 4000,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109011159961040840868">Teo Heng KTV Studio</a>'],
    'photo_reference': 'CmRaAAAAPXQEZ6YfOJHeDrpeIVcQJbY_BcjcZAF-cbTx_fZyIBJ5X30-K7YAADjVSvbHbdec5QJUUXkQCUyg55uXk_yYlW0CEgaNBhAeBXhXfN7vz0rfGHg8STazKaaumh0wPdj5EhBtq5UIveJqepIU8cVRDdghGhRgFK2EgBRxH8Dg71VjQSkPg3TC9Q',
    'width': 6000}],
  'place_id': 'ChIJ6WYxx20Y2jERcaLguu_s0NI',
  'plus_code': {'compound_code': '8W32+G9 Singapore',
   'global_code': '6PH58W32+G9'},
  'price_level': 1,
  'rating': 4.1,
  'reference': 'ChIJ6WYxx20Y2jERcaLguu_s0NI',
  'scope': 'GOOGLE',
  'types': ['night_club', 'bar', 'point_of_interest', 'establishment'],
  'user_ratings_total': 275,
  'vicinity': '865 Mountbatten Road #01-83B/01-77-82 Katong Shopping Centre'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.3006101, 'lng': 103.8589482},
   'viewport': {'northeast': {'lat': 1.301891380291502,
     'lng': 103.8602063302915},
    'southwest': {'lat': 1.299193419708498, 'lng': 103.8575083697085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '363e171c2e3d35eae015747aaa1074af5aa628a3',
  'name': 'Blu Jaz Cafe',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 759,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104601982422566665214">Blu Jaz Cafe</a>'],
    'photo_reference': 'CmRaAAAAIoe5f3c3fD219b3RVHooAKhe46c6E61qHvv82BVvlJcUCJdfke4jBnSioQ6NBxgj6P9TtSp32bpHg5Q5zUo1lvRhmtOKIgolm_LIIos7_ti0p0pxNgOH4urEz1H9Fr-vEhDlCz7I9BJtriEk2FdeLZvsGhSAiNAqXzKHd1JUO1dcabYa--PzZw',
    'width': 1024}],
  'place_id': 'ChIJHfTZVbAZ2jERf2McsHqXPwY',
  'plus_code': {'compound_code': '8V25+6H Singapore',
   'global_code': '6PH58V25+6H'},
  'price_level': 2,
  'rating': 4.3,
  'reference': 'ChIJHfTZVbAZ2jERf2McsHqXPwY',
  'scope': 'GOOGLE',
  'types': ['cafe',
   'night_club',
   'bar',
   'restaurant',
   'food',
   'point_of_interest',
   'establishment'],
  'user_ratings_total': 2312,
  'vicinity': '11 Bali Lane, Historic Kampong Glam'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.2951909, 'lng': 103.8597203},
   'viewport': {'northeast': {'lat': 1.296446130291502,
     'lng': 103.8609380302915},
    'southwest': {'lat': 1.293748169708498, 'lng': 103.8582400697085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png',
  'id': '995f649b41dbf4b6b00011593a4f56e207a37310',
  'name': 'Teo Heng KTV Studio',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 900,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113177583696216898413">Teo Heng KTV Studio</a>'],
    'photo_reference': 'CmRaAAAAuDdP13PgPzrJ3um-AHMJusJlyvfCeLP0Wf6Hm2Z3-wqpc4Lgmzftk27IgqyWUtEmUJMd0wm5IB6ddYvGgZx1a5vkYbJOKJyeX0CCpdI5MwN6yn8b_a2sYGvzj9tVfJqVEhCbYJPfH42LRsanTqY0cLDRGhRBHFSz-wKdmgRCkCD-410BCC_-xw',
    'width': 1600}],
  'place_id': 'ChIJ07sR5K4Z2jERlYHI061H4Bc',
  'plus_code': {'compound_code': '7VW5+3V Singapore',
   'global_code': '6PH57VW5+3V'},
  'price_level': 1,
  'rating': 4.1,
  'reference': 'ChIJ07sR5K4Z2jERlYHI061H4Bc',
  'scope': 'GOOGLE',
  'types': ['night_club', 'bar', 'point_of_interest', 'establishment'],
  'user_ratings_total': 390,
  'vicinity': '#03-380, 3 Temasek Boulevard, Suntec City'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.3028987, 'lng': 103.9028344},
   'viewport': {'northeast': {'lat': 1.304251680291502,
     'lng': 103.9041712802915},
    'southwest': {'lat': 1.301553719708498, 'lng': 103.9014733197085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
  'id': 'a3a6a9f7350204c276f4fbaf1b49d6f8fcbfacf2',
  'name': 'Basement Entertainment',
  'place_id': 'ChIJta5xAHIY2jERXxujE37Whqo',
  'plus_code': {'compound_code': '8W33+54 Singapore',
   'global_code': '6PH58W33+54'},
  'reference': 'ChIJta5xAHIY2jERXxujE37Whqo',
  'scope': 'GOOGLE',
  'types': ['night_club', 'point_of_interest', 'establishment'],
  'vicinity': '26 Amber Close, Singapore'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.304133, 'lng': 103.903745},
   'viewport': {'northeast': {'lat': 1.305466430291502,
     'lng': 103.9050643802915},
    'southwest': {'lat': 1.302768469708498, 'lng': 103.9023664197085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png',
  'id': '22c3b7954fe5e5fff40df27f265e1157626ed72a',
  'name': 'Grains and spices',
  'opening_hours': {'open_now': False},
  'place_id': 'ChIJv2nu6g0Z2jER2LzsBhPcjIw',
  'plus_code': {'compound_code': '8W33+MF Singapore',
   'global_code': '6PH58W33+MF'},
  'reference': 'ChIJv2nu6g0Z2jER2LzsBhPcjIw',
  'scope': 'GOOGLE',
  'types': ['night_club', 'point_of_interest', 'establishment'],
  'vicinity': '1 Brooke Road'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.3185439, 'lng': 103.8938242},
   'viewport': {'northeast': {'lat': 1.319911980291502,
     'lng': 103.8949630302915},
    'southwest': {'lat': 1.317214019708498, 'lng': 103.8922650697085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png',
  'id': '04a85f9c9a6e60b184848d870b054257b1742463',
  'name': 'Cash Studio Family Karaoke',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 3072,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101284562920569774106">Drew Goh</a>'],
    'photo_reference': 'CmRaAAAA2bgH5NWrfjXhhODYT3WrTe27NqYA60sCIW1KwLPHaV5lVoDNO1hHPtFYEyzKRwAf6L5xOTeK46ds40aw0YU8KbNxsTIZWB5gwr2zBR3ZxY5-6G4xUGHSRZIJ1Kdo74qHEhCMsRrT5EUfBoGFsezQN7HOGhT-ID44eKFrntq2Fr5TPDalLhSvzA',
    'width': 4096}],
  'place_id': 'ChIJQZcmThgY2jERQq9NvkNFd4U',
  'plus_code': {'compound_code': '8V9V+CG Singapore',
   'global_code': '6PH58V9V+CG'},
  'rating': 4.3,
  'reference': 'ChIJQZcmThgY2jERQq9NvkNFd4U',
  'scope': 'GOOGLE',
  'types': ['night_club', 'bar', 'point_of_interest', 'establishment'],
  'user_ratings_total': 273,
  'vicinity': 'SingPost Centre, #B1-144 to 146, 10 Eunos Road 8, Singapore'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.302908, 'lng': 103.864945},
   'viewport': {'northeast': {'lat': 1.304295780291502,
     'lng': 103.8662679302915},
    'southwest': {'lat': 1.301597819708498, 'lng': 103.8635699697085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
  'id': '18f5bbddcd120f49875311a27da460b257033f9a',
  'name': 'K-Net Music Pte Ltd',
  'place_id': 'ChIJT4xZgLMZ2jER-FGCZoWXWFI',
  'plus_code': {'compound_code': '8V37+5X Singapore',
   'global_code': '6PH58V37+5X'},
  'reference': 'ChIJT4xZgLMZ2jER-FGCZoWXWFI',
  'scope': 'GOOGLE',
  'types': ['night_club',
   'electronics_store',
   'home_goods_store',
   'bar',
   'point_of_interest',
   'store',
   'establishment'],
  'vicinity': '5001 Beach Road'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.3236338, 'lng': 103.877451},
   'viewport': {'northeast': {'lat': 1.324975880291502,
     'lng': 103.8787843802915},
    'southwest': {'lat': 1.322277919708498, 'lng': 103.8760864197085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
  'id': '22dd2dcc50b3bd8f9c4de448bcea522f235d5152',
  'name': 'K Box',
  'photos': [{'height': 333,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103119166432890286450">Butler Butler</a>'],
    'photo_reference': 'CmRaAAAAMW_fySyMegiD254VofmAM2-A7V_mPAqNUw0uBrVVS40vJwqnEABvD37BPPct0CZXIgLqk9XLHPvjtqizGZYhViu_vNRvJAxdIMmHXJ86iXzoR8p55T43lW7hD1WkhJHGEhDzogOsbDDj1Ex7DWHZNjADGhSlg2YEJYvfBGwXjxjSEJ0YRC09hg',
    'width': 400}],
  'place_id': 'ChIJp9oj_CgY2jERla_13vnjsng',
  'plus_code': {'compound_code': '8VFG+FX Singapore',
   'global_code': '6PH58VFG+FX'},
  'rating': 2.7,
  'reference': 'ChIJp9oj_CgY2jERla_13vnjsng',
  'scope': 'GOOGLE',
  'types': ['night_club', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 3,
  'vicinity': '5 Kallang Way 2A, Singapore'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.3038694, 'lng': 103.8614647},
   'viewport': {'northeast': {'lat': 1.305116330291502,
     'lng': 103.8626375802915},
    'southwest': {'lat': 1.302418369708498, 'lng': 103.8599396197085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png',
  'id': 'f8af9f69d09f33e80db46e0019d32efc2bd7c03a',
  'name': 'Hawaii Cabaret & Nite-club',
  'photos': [{'height': 1944,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109186760715680367600">Kian Seng Peh</a>'],
    'photo_reference': 'CmRaAAAAnMrAgGRbjUWsn2RRTMYQD89p8sGLYfdwFANTH2yDm9iFX_utESakZ7K4_HT4G30zuUT0Lq7cpVtQFBb8YY8fkaaQTFUNH9foFkF2wfUik4allkEx7hxobv_I851yGNg2EhDw0_pfG32DByrPfwwvZadlGhQa2F6z0D-sf3X822xcNfyjaFxb2w',
    'width': 2592}],
  'place_id': 'ChIJWQFPu7YZ2jERiLIDJZOi_p8',
  'plus_code': {'compound_code': '8V36+GH Singapore',
   'global_code': '6PH58V36+GH'},
  'rating': 5,
  'reference': 'ChIJWQFPu7YZ2jERiLIDJZOi_p8',
  'scope': 'GOOGLE',
  'types': ['night_club', 'point_of_interest', 'establishment'],
  'user_ratings_total': 2,
  'vicinity': 'Textile Centre #04-01, 200 Jalan Sultan (S)199018'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.2957108, 'lng': 103.8586488},
   'viewport': {'northeast': {'lat': 1.296915130291502,
     'lng': 103.8604105802915},
    'southwest': {'lat': 1.294217169708498, 'lng': 103.8577126197085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png',
  'id': 'ecc2387044b75caea02999cf2e23d091ee9a512f',
  'name': 'K.STAR Karaoke @ Suntec City',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 640,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101360621749516581750">K.STAR Karaoke @ Suntec City</a>'],
    'photo_reference': 'CmRaAAAADOG8WRiw9yVqWAOzX0zmQxH6Q_Cp2EpxM2yZjqB5ALcAODQCwMVaz-Gif-klLVQYqH8OwR-CXo_qf41lExhOxU9KU6J4b-6rn2NZT86xy4QF3UgRO3urBC-X1YSBTZtlEhDif2k68h_glrZDZWRvOCUGGhTR0ta3NMPFvmUD7fGvi9HatDTvDA',
    'width': 1892}],
  'place_id': 'ChIJ570uAncZ2jER-2Zal4B5Xfo',
  'plus_code': {'compound_code': '7VW5+7F Singapore',
   'global_code': '6PH57VW5+7F'},
  'rating': 4.9,
  'reference': 'ChIJ570uAncZ2jER-2Zal4B5Xfo',
  'scope': 'GOOGLE',
  'types': ['night_club', 'bar', 'point_of_interest', 'establishment'],
  'user_ratings_total': 232,
  'vicinity': '3 Temasek Boulevard, Tower 3 #02-727, Singapore'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.2987836, 'lng': 103.8560915},
   'viewport': {'northeast': {'lat': 1.300195880291502,
     'lng': 103.8573619302915},
    'southwest': {'lat': 1.297497919708498, 'lng': 103.8546639697085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
  'id': '3d2d9dad71ad8423be7dd89e8b6ba71bb7710a4e',
  'name': 'Club DC',
  'opening_hours': {'open_now': False},
  'place_id': 'ChIJuQNwzFkZ2jERiay5-QcdK8c',
  'plus_code': {'compound_code': '7VX4+GC Singapore',
   'global_code': '6PH57VX4+GC'},
  'reference': 'ChIJuQNwzFkZ2jERiay5-QcdK8c',
  'scope': 'GOOGLE',
  'types': ['night_club', 'bar', 'point_of_interest', 'establishment'],
  'vicinity': '530 North Bridge Road, #06-00 Bugis Point'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.2922948, 'lng': 103.8563311},
   'viewport': {'northeast': {'lat': 1.293621780291502,
     'lng': 103.8575566802915},
    'southwest': {'lat': 1.290923819708498, 'lng': 103.8548587197085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
  'id': '7277447637e84dab7e57a0bbf14fa8fdf220ad32',
  'name': 'Baliza',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 2448,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105300831903626916122">My SECRET Corner</a>'],
    'photo_reference': 'CmRaAAAAHMgqM8CJ6kzGgdgxZAgw6TKmuZihcAqRKvh_VdbJyZPy5dTvt4LaAB3A9f41_N5hpk6v10-MtvgIAmV-hBo-VV7-mcHtV52D6u7QxQf-VuPd4NG_UCXCLY1gt6FWXnBDEhBnCsBAINixZz4wmuUMDg0aGhT5Ep0awG0S8lpIDJmv54WRhP7uNg',
    'width': 3264}],
  'place_id': 'ChIJNYsVZKgZ2jERbpbpOVXBPPM',
  'plus_code': {'compound_code': '7VR4+WG Singapore',
   'global_code': '6PH57VR4+WG'},
  'price_level': 3,
  'rating': 3.7,
  'reference': 'ChIJNYsVZKgZ2jERbpbpOVXBPPM',
  'scope': 'GOOGLE',
  'types': ['night_club', 'point_of_interest', 'establishment'],
  'user_ratings_total': 100,
  'vicinity': '6 Raffles Boulevard, #01-04/05'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.2980556, 'lng': 103.8555556},
   'viewport': {'northeast': {'lat': 1.299433180291502,
     'lng': 103.8569930302915},
    'southwest': {'lat': 1.296735219708498, 'lng': 103.8542950697085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png',
  'id': 'c8b8148dcdf1d185dd89ff0e60ef3e7c3a7347fd',
  'name': 'HaveFun Karaoke @ Bugis',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 1080,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115530128869556414268">HaveFun Karaoke @ Bugis</a>'],
    'photo_reference': 'CmRaAAAASPRDmCM-QIldyVAoxBwQGTvFkHy-FhjaBYwXS65x4kLJLU70t9eubc6Nt2Lq5jOI7W5v1eiFBSR-j1Nbbl92gwILCzm0r602NaTr53s4C8_gaVA8cDGQPdfTif4bxXz2EhD3GpJmqvFM96toKXxfB1iGGhQl1YIMKYNzHG4OehJ3L8w4QeNhRA',
    'width': 1440}],
  'place_id': 'ChIJK8bxTaUZ2jERuAr7EahDYWc',
  'plus_code': {'compound_code': '7VX4+66 Singapore',
   'global_code': '6PH57VX4+66'},
  'rating': 4.1,
  'reference': 'ChIJK8bxTaUZ2jERuAr7EahDYWc',
  'scope': 'GOOGLE',
  'types': ['night_club', 'bar', 'point_of_interest', 'establishment'],
  'user_ratings_total': 192,
  'vicinity': '#06-00 Bugis Cube，470 north bridge road'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 1.3040205, 'lng': 103.9018837},
   'viewport': {'northeast': {'lat': 1.305369480291502,
     'lng': 103.9032326802915},
    'southwest': {'lat': 1.302671519708498, 'lng': 103.9005347197085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png',
  'id': 'bfe189fdc1ae27e3783b464f9aa5d1be93eb2a4b',
  'name': 'ACLBET 918KISS Singapore Truasted Club',
  'opening_hours': {'open_now': True},
  'photos': [{'height': 787,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117681521951248934143">ACLBet Online Trusted Platform</a>'],
    'photo_reference': 'CmRaAAAATZTzC-1EsSM5N5U9z3gySxRFJdNIxVCvCsfvtMkAowkC67-1Rz_Bl2XfsfX8b4BIaZFJ5PnhUZKdbuFQ4fHi9_gSfpbCiRavT9pNSsvoBoXV_Z7MjfJgvCb11CDpFpOwEhC4FFqX9QwhqO7Vs5u6Ot4fGhS8KCFqmqKSA13nObBwR8cadT1Xaw',
    'width': 1606}],
  'place_id': 'ChIJGYDKe-AZ2jERTuDOKlY2_8Q',
  'plus_code': {'compound_code': '8W32+JQ Singapore',
   'global_code': '6PH58W32+JQ'},
  'reference': 'ChIJGYDKe-AZ2jERTuDOKlY2_8Q',
  'scope': 'GOOGLE',
  'types': ['night_club', 'point_of_interest', 'establishment'],
  'vicinity': '3e East Coast Road'}]

In [ ]:
m = Map(location=[1.290270,103.851959],zoom_start=14)
for i, row in m.iterrows():
    Marker(
        location=row[["geometry"]],
        tooltip=row["name"],
    ).add_to(m)

In [ ]:
[(places["results"][i]["geometry"]["location"]["lat"],places["results"][1]["geometry"]["location"]["lng"])for i in range(len(places))]

## eventos

In [ ]:
def requestFoursquareEvents(query,radio):
    
    client_s = os.getenv("CLIENT_SECRET")
    client_idd = os.getenv("4S_CLIENT_ID")
    lat = 1.298370
    long = 103.891290

    params = {"client_id": client_idd,
              "client_secret":"LNVYSPVLUTJITTBVZ1DHWMWISC43K43N1DTACC5CYWFYRRCZ",
              "v": "20180323",
              "ll":f'{lat},{long}',
              "radius":f'{radio}',
              "query":f'{query}', 
              "limit":100    }

    url = f"https://api.foursquare.com/v2/venues/VENUE_ID/events"
    resp = requests.get(url=url, params=params)
    data = json.loads(resp.text)
    print(url)
    return data

r = requestFoursquareEvents("restaurant", 2000)
r

In [ ]:
def requestFoursquareEvents(categories):
    
    client_s = os.getenv("CLIENT_SECRET")
    client_idd = os.getenv("4S_CLIENT_ID")
    lat = 1.298370
    long = 103.891290

    params = {"client_id": client_idd,
              "client_secret":"LNVYSPVLUTJITTBVZ1DHWMWISC43K43N1DTACC5CYWFYRRCZ",
              "v": "20180323",
              "ll":f'{lat},{long}',
              "venue":"5433d43d498e839d72c85a02",
              "categories":f'{query}', 
              "limit":100    }

    url = f"https://api.foursquare.com/v2/venues/VENUE_ID/events"
    resp = requests.get(url=url, params=params)
    data = json.loads(resp.text)
    print(url)
    return data["response"]["groups"][0]["items"]

requestFoursquare("technology", 4000)

https://www.crunchbase.com/hub/singapore-startups#section-events
https://www.eventbrite.sg/d/singapore--singapore/events--next-month/design-events/?page=1

## EB

## Start getting info

### Starbucks

In [ ]:

def requestFoursquare(query,radio):
    client_idd = os.getenv("4S_CLIENT_ID")
    lat = 1.298370
    long = 103.891290

    params = {"client_id": "3HQSLVM50LRH1YI4L45DOHIPUISBX3EQAV34MDDMUAA5M205",
              "client_secret":"LNVYSPVLUTJITTBVZ1DHWMWISC43K43N1DTACC5CYWFYRRCZ",
              "v": "20180323",
              "ll":f'{lat},{long}',
              "radius":f'{radio}',
              "query":f'{query}', 
              "limit":20 }

    url = f"https://api.foursquare.com/v2/venues/explore"
    
    resp = requests.get(url=url, params=params)
    data = json.loads(resp.text)
    print(url)
    return [data["response"]["groups"][0]["items"][i]["venue"]["name"] for i in range(len(data))]
requestFoursquare("vegan", 1000)

In [ ]:
r=requestFoursquare("Starbucks", 1000)
starbucks = [(r[i]["venue"]["name"],r[i]["venue"]["location"]["lat"], r[i]["venue"]["location"]["lng"]) for i in range(len(r))]
pd.DataFrame(starbucks)

In [ ]:
r=requestFoursquare("schools", 2000)
schools = [(r[i]["venue"]["name"],r[i]["venue"]["location"]["lat"], r[i]["venue"]["location"]["lng"]) for i in range(len(r))]
pd.DataFrame(schools)

In [ ]:
requestFoursquare("airport", 2000)

In [ ]:
r=requestFoursquare("nursery", 2000)
nursery = [(r[i]["venue"]["name"],r[i]["venue"]["location"]["lat"], r[i]["venue"]["location"]["lng"]) for i in range(len(r))]
pd.DataFrame(nursery)

In [ ]:
r=requestFoursquare("dog grooming", 2000)
dog = [(r[i]["venue"]["name"],r[i]["venue"]["location"]["lat"], r[i]["venue"]["location"]["lng"]) for i in range(len(r))]
pd.DataFrame(dog)

In [ ]:
r=requestFoursquare("nightlife", 2000)
night = [(r[i]["venue"]["name"],r[i]["venue"]["location"]["lat"], r[i]["venue"]["location"]["lng"]) for i in range(len(r))]
pd.DataFrame(night)

In [ ]:
from googlemaps import GoogleMaps
gmaps = GoogleMaps(API_KEY)
lat, lng = gmaps.address_to_latlng(address)

In [ ]:
r= requestFoursquare("school", 10000)
r["response"]["groups"][0]["items"][1]["venue"]["name"]

In [ ]:
from urllib2 import Request, urlopen    

path1 = '42.974049,-81.205203|42.974298,-81.195755'
request=Request('http://maps.googleapis.com/maps/api/elevation/json?locations='+path1+'&sensor=false')
response = urlopen(request)
elevations = response.read()
data = json.loads(elevations)
df = pd.json_normalize(data['results'])

In [ ]:
!pip install urllib2

### geocode

In [ ]:
def geocode(address):
    """
    Saca las coordenadas de una dirección que le des.
    """
    data = requests.get(f"https://geocode.xyz/{address}?json=1").json()
    return {
        "type":"Point",
        "coordinates":[float(data["longt"]),float(data["latt"])]}

In [ ]:
times_square = geocode("Times Square, New York")
times_square

In [ ]:
q = db.offices.find(geoQueryNear(times_square, radius=3000),{"_id":0,"company_id":0})
near_offices = list(q)
near_offices

In [ ]:
client_id = os.getenv("4S_CLIENT_ID")
client_secret = os.getenv("4S_CLIENT_SECRET")   
v=20180323
lat = 1.298370
long = -1.298370
query="school"

#url = f"https://api.foursquare.com/v2/venues/search?ll=40.7,-74&client_id={client_id}&client_secret=LNVYSPVLUTJITTBVZ1DHWMWISC43K43N1DTACC5CYWFYRRCZ&v={v}"

url = f"https://api.foursquare.com/v2/venues/search?ll={lat},{long}&query={query}&client_id=3HQSLVM50LRH1YI4L45DOHIPUISBX3EQAV34MDDMUAA5M205&client_secret=LNVYSPVLUTJITTBVZ1DHWMWISC43K43N1DTACC5CYWFYRRCZ&v=20180323"

resp = requests.get(url=url)
data = json.loads(resp.text)
print(url)
data

In [ ]:
from dotenv import load_dotenv

def requestFoursquare(query,radio):
    
    client_idd = os.getenv("4S_CLIENT_ID")
    lat = 1.298370
    long = 103.891290

    params = {"client_id": client_idd,
              "client_secret":"LNVYSPVLUTJITTBVZ1DHWMWISC43K43N1DTACC5CYWFYRRCZ",
              "v": "20180323",
              "ll":f'{lat},{long}',
              "radius":f'{radio}',
              "query":f'{query}', 
              "limit":100    }

    url = f"https://api.foursquare.com/v2/venues/explore"
    resp = requests.get(url=url, params=params)
    data = json.loads(resp.text)
    print(url)
    return data

r = requestFoursquare("starbucks", 2000)

r

In [ ]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))

# We restrict to South America.
ax = world.plot(
    color='white', edgecolor='black')

# We can now plot our ``GeoDataFrame``.
gdf.plot(ax=ax, color='red')

In [ ]:
def geocode(address):
    res = requests.get(f"https://geocode.xyz/{address}", params={"json":1})
    data = res.json()
    return {
        "type":"Point",
        "coordinates":[float(data["longt"]),float(data["latt"])]
    }
geocode("international airport Singapur")